/* 
below 1200

*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .card {
    width: 31%;
  }
}

/* 
below 1040

*/
@media (max-width: 65em) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
  }
  .card {
    width: 95%;
  }
  .card:last-of-type {
    grid-column: 1/3;
    margin-left: 1.25%;
  }
  .task {
    font-weight: 400;
  }
}
@media (max-width: 45em) {
  .card {
    grid-column: 1/3;
    justify-self: center;
  }
}
